# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment Variables
.env

# VS Code
.vscode/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Testing
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Database
*.db

users&passwords.txt